@model IEnumerable<YMB.Models.Accounts>
@{
    ViewBag.Title = "Accounts";
}

<h2 class="ymb-yellow">Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.acctName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acctBalance)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.acctName)
        </td>
        <td>
            $@Html.DisplayFor(modelItem => item.acctBalance)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.acctId }) |*@
            @Html.ActionLink("Details", "Details", new { id=item.acctId })
            @*@Html.ActionLink("Delete", "Delete", new { id=item.acctId })*@
        </td>
    </tr>
}

</table>
