@model YMB.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<script type="text/javascript">
$(document).ready(function () {

    //$("#firstName").keydown(function (e) {
    //    CheckNameField(e);
    //});
    //$("#lastName").keydown(function (e) {
    //    alert('typing yo...');
    //});
    //$("#UserName").keydown(function (e) {
    //    alert('typing yo...');
    //});
    //$("#Email").keydown(function (e) {
    //    alert('typing yo...');
    //});
    //$("#Password").keydown(function (e) {
    //    alert('typing yo...');
    //});
    //$("#ConfirmPassword").keydown(function (e) {
    //    alert('typing yo...');
    //});
});//end of doc ready

function CheckNameField(event) {
    //alert(event);
}
</script>

<h2>@ViewBag.Title.</h2>

@using (Html.BeginForm("Register", "Account", new { postAction = ViewBag.PostAction }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Create a new account.</h4>
    <hr />
    @Html.ValidationSummary("", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(m => m.firstName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.firstName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.lastName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.lastName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            <span style="font-size: x-small"><i>Note: Passwords must be at least 8 characters long</i></span>
        </div>
      
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Register" />
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
