@using Microsoft.AspNet.Identity;
@using YMB.Extensions;
@model YMB.Models.FootballPoolViewModel
@{
    ViewBag.Title = "CheckUserPicks";
    var counter = 1;

}

<h2 class="center-text ymb-yellow-text-and-shadow">Check User Picks</h2>&laquo;@Html.ActionLink("Back to Admin", "Index", "Admin")

@if (Model != null)
{
    <form method="post" action="~/FootballPoolAdmin/CheckUserPicks">
        @Html.Partial("_WeekDropDown")
        <input type="submit" value="Show Week" />
    </form>
    var numGames = Model.footballGames.Where(fp => fp.weekId == Model.footballGames.First().weekId).Count();
    var totalPicklessUsers = Model.userPicksCheck.Where(up => up.hasMadePicks == false).Count();

    <h4 class="ymb-yellow-text-and-shadow">Week @Model.footballGames.First().weekId</h4>
    <br/>
    <p>Total users without picks: <b style="font-size: larger;">@totalPicklessUsers</b></p>
    <table>
        <tr>
            <th> </th>
            <th>Username</th>
            <th>Made Pick?</th>
            <th>Number of Picks</th>
        </tr>

        @foreach (var userCheck in Model.userPicksCheck)
        {
            <tr>
                <td>@counter.</td>
                <td>@userCheck.userName</td>
                <td>@(userCheck.hasMadePicks ? "Yes" : "No")</td>
                <td><span class="@(userCheck.numberOfPicksMade == numGames ? "green" : "bold-me red")">@userCheck.numberOfPicksMade / @numGames</span></td>
            </tr>
            counter++;
        }
    </table>
}
else
{
    <form method="post" action="~/FootballPoolAdmin/CheckUserPicks">
        @Html.Partial("_WeekDropDown")
        <input type="submit" value="Show Week" />
    </form>
}

<script type="text/javascript">
    $(document).ready(function () {
        setWeekDropDown();
    });
</script>