@using Microsoft.AspNet.Identity
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - YMB</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/slick/slick-theme.css" />
</head>
<body>
    <div id="navBar" class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div>
                <img src="~/images/svg/YellowPaw.svg" alt="YMB Yellow Paw" class="mini-logo" />
            </div>
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Yellow Mutt Brewery", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse mobile-navbar-padding">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Beers", "Index", "Beers")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    @if (Request.IsAuthenticated)
                    {
                        var userName = User.Identity.GetUserName();
                        if (userName == "asutton")
                        {
                            <li>@Html.ActionLink("My Finances", "Index", "MyFinances")</li>
                        }
                    }
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="go-fund-me "><a target="_blank" style="border:none;" href="https://www.gofundme.com/ymb_opening?utm_medium=wdgt" title="Visit this page now."><img class="img-responsive" src="~/images/goFundMe.png"></a></div>
    <div class="go-fund-me-mobile"><a target="_blank" style="border:none;" href="https://www.gofundme.com/ymb_opening?utm_medium=wdgt" title="Visit this page now."><input type="button" class="button-donate-mobile" value="Donate Now"/><img src="~/images/svg/mobile-goFundme.svg" alt="Donate now!" style="padding-left: 40px;"/></a></div>
    <div class="mobile-top-gofundme-margin"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="text-align: center;">
            <p>Andrew Sutton <b>Yellow Mutt Brewery</b> &copy; @DateTime.Now.Year Norfolk, MA</p>
        </footer>
    </div>

    <script type="text/javascript" src="~/slick/slick.js"></script>
    <script type="text/javascript" src="~/slick/slick.min.js"></script>
    @Html.Partial("_DocReady")
</body>
</html>
