@model IEnumerable<YMB.Models.Accounts>
@{
    ViewBag.Title = "Accounts";
    var totalBillAmount = 0.0M;
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<h2 class="ymb-yellow-text-and-shadow w3-lobster ">Accounts</h2>
    <b class="ymb-yellow-text">Next Paycheck:</b>  @ViewBag.NextPaycheck<br/>
    <b class="ymb-yellow-text">Bills Due This Paycheck:</b>
    <div class="row">
        @foreach (var bill in ViewBag.BillsListPayCheck)
            {
                totalBillAmount += bill.acctBillDueAmount;
                if (bill.acctBillDueAmount > 0)
                {
                <div class="col-md-3">
                    <span class="acct-bill-spacing">@bill.acctName</span>&raquo;<span class="acct-bill-spacing">$@bill.acctBillDueAmount</span>
                </div><br />
            }
        }
    </div>
    <b class="ymb-yellow-text">Total Bills:</b>  @totalBillAmount
    <br />
    <div >
        <b class="ymb-yellow-text">Total Cash:</b>
        <span class="green">@string.Format("{0:C}", ViewBag.TotalCashAccounts)</span>
    </div>
    <div>
        <b class="ymb-yellow-text">Total Debt:</b>
        <span class="@(ViewBag.TotalCreditAccounts > 0 ? " red" : "green" )">@string.Format("{0:C}", ViewBag.TotalCreditAccounts)</span>
    </div>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.acctName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.acctBalance)
        </th>
        <th class="no-show-on-phone">
            @Html.DisplayNameFor(model => model.acctBillDueDate)
        </th>
        <th class="no-show-on-phone">
            @Html.DisplayNameFor(model => model.acctBillDueAmount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.display)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.acctName)
                </td>
                <td>
                    @if (item.acctType == 2 && item.acctBalance > 0)
                    {
                        <span class="red">
                            @Html.DisplayFor(modelItem => item.acctBalance)
                        </span>
                    }
                    else
                    {
                        <span class="green">
                            @Html.DisplayFor(modelItem => item.acctBalance)
                        </span>
                    }
                </td>
                <td class="no-show-on-phone">
                    @if (item.acctBillDueAmount > 0)
                    {
                        @Html.DisplayFor(modelItem => item.acctBillDueDate)
                    }
                </td>
                <td class="no-show-on-phone">
                    @if (item.acctBillDueAmount > 0)
                    {
                        @Html.DisplayFor(modelItem => item.acctBillDueAmount)
                    }
                </td>
                <td>
                    @*@Html.ActionLink("Edit", "Edit", new { id=item.acctId }) |*@
                    @Html.ActionLink("Details", "Details", new { id = item.acctId })
                    @*@Html.ActionLink("Delete", "Delete", new { id=item.acctId })*@
                </td>
            </tr>
        }

    }

</table>

<div></div>

