@using Microsoft.AspNet.Identity;
@using YMB.Extensions;
@model YMB.Models.FootballPoolViewModel
@{
    ViewBag.Title = "Mydashboard";
    var userName = User.Identity.GetUserName();
    var userRealName = User.Identity.GetUserFirstName();
    var simpleUserId = User.Identity.GetSimpleUserId();
    var userId = User.Identity.GetUserId();
}
<h2 class="center-text ymb-yellow-text-and-shadow">My Dashboard</h2>
<script type="text/javascript">
    $(document).ready(function () {
        //var windowHeight = $(document).height();
        //$(".body-content").css("height", windowHeight);
    });
    function loadPage(pageId) {
        switch (pageId) {
            case 1:
                window.location = "Leaderboard";
                break;
            case 2:
                window.location.href = "weeklyschedule";
                break;
            case 3:
                window.location.href = "AccountProfile";
                break;
            case 4:
                window.location.href = "ViewPicks";
                break;
            case 5:
                window.location.href = ".";
                break;
            case 6:
                window.location.href = "GameResults";
                break;
            case 7:
                window.location.href = "UserPicks";
                break;
            default:
                alert('default');
        }
    }
</script>
<div class="mobile center-text">
    @if (Model != null && Model.alerts.Where(a => a.simpleUserId == Convert.ToInt64(simpleUserId)).Count() > 0)
    {
        <div class="alerts">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="center-text red">Alerts</h4>
                    <ul>
                        @foreach (var alert in Model.alerts)
                        {

                            if (alert.alertActive)
                            {
                                <li class="@(alert.alertRead ? "" : "bold-me")">
                                    <a class="user-alert" onclick="javascript:showMobileAlert('@alert.alertText', @alert.id)">@alert.alertTitle</a>
                                    @if (alert.userCanDelete)
                                    {
                                        <a href="#" onclick="javascript:deleteAlert(@alert.id);"><img class="alert-button" src="~/images/delete_button.png" alt="Delete me." /></a>
                                    }
                                </li>
                            }
                        }
                    </ul>
                </div>

            </div>
        </div>
        
        <div class="alert-text grey-out modal" id="alertMobileTextShell">
            <div id="alertMobileTextDiv">
                <span id="alertMobileText"></span>
                <a href="#" onclick="hideMobileAlert(this)" class="close-modal"><img style="display: block;" src="~/images/close-button.png" /></a>
            </div>

        </div>
    }
    <div class="football-pool-dashboard-button-div">
        <input type="button" value="Pool Info & Rules" class="football-pool-dashboard-button" onclick="javascript: loadPage(5);" />
        <input type="button" value="Leader Board" class="football-pool-dashboard-button" onclick="javascript: loadPage(1);" />
        <input type="button" value="Game Results" class="football-pool-dashboard-button" onclick="javascript: loadPage(6);" />
        <input type="button" value="Submit & View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(2);" />
        <input type="button" value="My Account" class="football-pool-dashboard-button" onclick="javascript: loadPage(3);" />
        <input type="button" value="View User Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(7);" title="View other user's picks once the game has started."/>
        @*<input type="button" value="View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(4);" />*@
    </div>
</div>


<div class="pc">
    @if (Model != null && Model.alerts.Where(a => a.simpleUserId == Convert.ToInt64(simpleUserId) && a.alertActive == true).Count() > 0)
    {
        <div class="alerts">
            <div class="row">
                <div class="col-md-4">
                    <h4 class="center-text red">Alerts</h4>
                    <ul>
                        @foreach (var alert in Model.alerts)
                        {

                            if (alert.alertActive)
                            {
                                <li class="@(alert.alertRead ? "" : "bold-me")">
                                    <a class="user-alert" onclick="javascript:showPCAlert('@alert.alertText', @alert.id)">@alert.alertTitle</a>
                                    @if (alert.userCanDelete)
                                    {
                                        <a href="#" onclick="javascript:deleteAlert(@alert.id);"><img class="alert-button" src="~/images/delete_button.png" alt="Delete me." /></a>
                                    }
                                </li>
                            }

                        }
                    </ul>
                </div>

            </div>
        </div>
        <div class="alert-text grey-out modal" id="alertPCTextShell">
            <div id="alertPCTextDiv">
                <span id="alertPCText"></span>
                <a href="#" onclick="hidePCAlert(this)" class="close-modal"><img style="display: block;" src="~/images/close-button.png" /></a>
            </div>

        </div>
    }


    <div class="row">
        <div class="col-md-3 center-text">
            <input type="button" value="Pool Info & Rules" class="football-pool-dashboard-button" onclick="javascript: loadPage(5);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="Leader Board" class="football-pool-dashboard-button" onclick="javascript: loadPage(1);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="Game Results" class="football-pool-dashboard-button" onclick="javascript: loadPage(6);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="Submit & View Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(2);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="My Account" class="football-pool-dashboard-button" onclick="javascript: loadPage(3);" />
        </div>
        <div class="col-md-3 center-text">
            <input type="button" value="View User Picks" class="football-pool-dashboard-button" onclick="javascript: loadPage(7);" title="View other user's picks once the game has started." />
        </div>
    </div>
</div>

<script type="text/javascript">
    function showMobileAlert(alertText, alertId) {
        var hiddenAlertid = "<input type=\"hidden\" value=" + alertId + " id=\"alertId\"/>";
        $("#alertMobileText").html(alertText + hiddenAlertid);
        $("#alertMobileTextShell").show();
        $("#alertMobileTextDiv").show();
    }
    function hideMobileAlert(thisElement) {
        var alertId = this.$("#alertId").val();
        $("#alertMobileTextShell").hide();
        var url = "/FootballPoolAdmin/UpdateAlertReadFlag";
        if (window.location.hostname == 'localhost') {
            url = "/YMB/FootballPoolAdmin/UpdateAlertReadFlag";
        }
        $.ajax({
            type: "post",
            async: true,
            url: url,
            data: { read: true, alertId: alertId },
            success: function (result) {
                location.reload();
            },
            error: function (result) {

            }
        });
    }
    function showPCAlert(alertText, alertId) {
        var hiddenAlertid = "<input type=\"hidden\" value=" + alertId + " id=\"alertId\"/>";
        $("#alertPCText").html(alertText + hiddenAlertid);
        $("#alertPCTextShell").show();
        $("#alertPCTextDiv").show();
    }
    function hidePCAlert(thisElement) {
        var alertId = this.$("#alertId").val();
        $("#alertPCTextShell").hide();
        var url = "/FootballPoolAdmin/UpdateAlertReadFlag";
        if (window.location.hostname == 'localhost') {
            url = "/YMB/FootballPoolAdmin/UpdateAlertReadFlag";
        }
        $.ajax({
            type: "post",
            async: true,
            url: url,
            data: { read: true, alertId: alertId },
            success: function (result) {
                location.reload();
            },
            error: function (result) {

            }
        });
    }
    function deleteAlert(id) {
        if (confirm('Are you sure you want to delete this alert?')) {
            var url = "/FootballPool/DeleteAlert";
            if (window.location.hostname == 'localhost') {
                url = "/YMB/FootballPool/DeleteAlert";
            }
            $.ajax({
                type: "post",
                async: true,
                url: url,
                data: { alertId: id },
                success: function (result) {
                    location.reload();
                },
                error: function (result) {

                }
            });
        } else {
            return false;
        }
    }
</script>